														/* {{{ general style */
body { margin: 0; padding: 0; background-color: #503F34; font-family: "Verdana"; font-size: "8"; font-color: "silver"; }

div { padding: 10px 0;}

.ripit { background-repeat: repeat-y }
.marginesmenu { margin: 15px; font-family: "Verdana"; font-size: 12; color: silver; }

/* END : general style }}} */
														/* {{{ main menu */
#menu {
	position: absolute;
	top: 189px; left: 188px; height: 25px;
	font: normal 12px "Trebuchet MS";
}

ul#menu { margin: 0 }

#menu li {
	font-size: 13px;
	float: left;
	list-style: none;
	text-align: center
}

#menu li a {
	display: block;
	margin-left: 8px;
	width: 101px;
	line-height: 21px;
	text-decoration: none;
}

#menu a:link, #menu a:visited  { color: #000000; background: url('img/menu-bg.jpg') no-repeat 0 -21px; }

#menu a:hover, #menu a:active { color: #eaa328; background: url('img/menu-bg.jpg') no-repeat 0 0; }

#menu a#current { color: #f0f0f0; background: url('img/menu-bg.jpg') no-repeat 0 0; }

/* END : main menu }}} */
														/* {{{ news */
.news {border: 1px solid #5E636A; margin: 15px; overflow: hidden;}
.info {font: 8pt Tahoma; color: white;}

.juz {font-size: 10px; font-weight: normal; font-family: Tahoma; margin: 10px; color: white;}
.juzpo {font-size: 10px; font-weight: normal; font-family: Tahoma; margin: 10px;}

#astrominaria {background-color: #055F8C; margin: 15px; overflow: hidden;}
.astronaglowek{font: bold 10pt Tahoma; color: #FFD700; margin: 0 10px;}
.astrotytul{font: bold 14pt Tahoma; color: #FFD700; margin: 0 10px;}
.astroautor{font: bold 10pt Tahoma; color: #FFD700; margin: 0 10px;}
.astroopis{font: 10pt Tahoma; color: silver; margin: 0 10px;}

#stareminaria {background-color: grey; margin: 15px; overflow: hidden;}
.starynaglowek{font: bold 10pt Tahoma; color: silver; margin: 0 10px;}
.starytytul{font: bold 14pt Tahoma; color: silver; margin: 0 10px;}
.staryautor{font: bold 10pt Tahoma; color: silver; margin: 0 10px;}
.staryopis{font: 10pt Tahoma; color: silver; margin: 0 10px;}

.data {font: normal 8pt Tahoma; color: #C78B22; margin: 0 10px;}
.wiecz {font: 10pt Tahoma; color: silver; border: 1px;}
a#news {color: #98FF22; font-weight: bold;}
a#news:hover {color: #eaa328; text-decoration: underline; font-weight: bold;}
/* END : news }}} */
														/* {{{ general text */
.rowcontainer {
	float: left;
	margin-bottom: 5px;
	width: 100%;
	overflow: visible;
	background: #43474c;
} /* Used to keep the divs in a row.  you can use this for any size of divs */

.malelogo { float: right; }
.meni { margin: 5px; font-size: 1.8em; line-height: 1.0em; color: #eaa328; font-family: "Tahoma"; text-align: left; }
.stopka { font-size: 0.6em; color: silver; font-family: "verdana"; text-align: center}
.lin { font-size: 1.8em; line-height: 1.0em; color: white; font-family: "Trebuchet MS"; text-align: left}
.dzial { color: orange; font-size: 12; font-weight: bold; float: center; }
.fullcolumn { float: left; width: 99%; }
.halfcolumn { float: left; width: 49%; }
.onethirdcolumn { float: left; width: 33%; }
.quartercolumn { float: left; width: 24.5%; }
.threequartercolumn { float: left; width: 74.5%; }
.newscolumn { float: left; width: 100%; color: silver; }
.tresc { float: left; width: 100%; color: silver; }
.lastcolumn { float: left; width: 100%; font-family: "Verdana"; font-size: 10; color: silver; }
.dostrona { margin: 0 20px; float: left; width: 100%; font-family: "Verdana"; font-size: 16; color: silver; overflow: hidden;}
.dostron { margin: 15px; overflow: hidden; font: normal 12pt Verdana; color: silver;}

p, h1, h2, h3 { margin: 0 10px; background: transparent; }

p { font-size: 0.8em; line-height: 1.4em; text-align: justify; color: silver; }
p.in { text-indent: 25px; margin-top: 8px;}
h2 { margin-left: 25px; font-size: 1.8em; line-height: 1.0em; color: #eaa328; font-family: "Trebuchet MS"; text-align: left}
h3 { font-size: 0.8em; line-height: 1.4em; color: #eaa328; font-family: "Trebuchet MS"; }
/* hr { silver; } */

/* all images styling */
img.right { float: right; }
img.left { float: left; }

/* list styling */
ol li, ul li { color: #afaeae; font-size: 0.8em; line-height: 1.4em; }

ul { margin: 5px 0 5px 35px; list-style: url('img/bullet.gif'); }
ol { margin: 5px 0 5px 35px; list-style: decimal; }
a { color: #white; text-decoration: none; font-weight: bold;}
a:hover { color: #silver; text-decoration: none; font-weight: bold;}

h4 {text-align: right; color: #afaeae; margin-top: 2ex; margin-right: 5ex; font-size: 0.8em; font-weight: normal; font-style: italic; }

/* END : general text }}} */
/* {{{ gallery */
.foto {
	width: 210px;
	background: #2c2c2c;
	margin: 4px;
	border: solid 1px #000000;
	vertical-align: top;
	padding: 5px;
}

img.gallery {
	margin: 5px;
	border: solid 1px black;
}

.em {
	font-weight: bold;
	color: #ffffff;
}

p.galmenu {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 682px;
	background: #2c2c2c;
	border: solid 1px black;
}

p.gallery {
	font-size: 10px;
	text-align: left;
}
/* }}} */
