														/* {{{ general style */
body { margin: 0; padding: 0; background-color: #353535; }

* {	margin: 0; padding: 0; border: 0; font-family: "Tahoma"; }

div { padding: 10px 0;}

/* END : general style }}} */
														/* {{{ main menu */
#menu {
	position: absolute;
	top: 189px; left: 188px; height: 25px;
	font: normal 12px "Trebuchet MS";
}

ul#menu { margin: 0 }

#menu li {
	font-size: 13px;
	float: left;
	list-style: none;
	text-align: center
}

#menu li a {
	display: block;
	margin-left: 8px;
	width: 101px;
	line-height: 21px;
	text-decoration: none;
}

#menu a:link, #menu a:visited  { color: #000000; background: url('img/menu-bg.jpg') no-repeat 0 -21px; }

#menu a:hover, #menu a:active { color: #eaa328; background: url('img/menu-bg.jpg') no-repeat 0 0; }

#menu a#current { color: #f0f0f0; background: url('img/menu-bg.jpg') no-repeat 0 0; }

/* END : main menu }}} */
														/* {{{ news */
.news {border: 1px solid #5E636A; margin: 5px; overflow: hidden;}
.data {font: normal 8pt Tahoma; color: #C78B22; margin: 0 10px;}
a#news {color: #98FF22;}
a#news:hover {color: #eaa328; text-decoration: underline}
/* END : news }}} */
														/* {{{ general text */
.rowcontainer {
	float: left;
	margin-bottom: 5px;
	width: 100%;
	overflow: visible;
	background: #43474c;
} /* Used to keep the divs in a row.  you can use this for any size of divs */

.fullcolumn { float: left; width: 99%; }
.halfcolumn { float: left; width: 49%; }
.onethirdcolumn { float: left; width: 33%; }
.quartercolumn { float: left; width: 24.5%; }
.threequartercolumn { float: left; width: 74.5%; }

p, h1, h2, h3 { margin: 0 10px; background: transparent; }

p { font-size: 0.8em; line-height: 1.4em; text-align: justify; color: #afaeae }
p.in { text-indent: 25px; margin-top: 8px;}
h3 { font-size: 0.8em; line-height: 1.4em; color: #eaa328; font-family: "Trebuchet MS" }
h2 { font-size: 1.2em; line-height: 1.9em; color: #ffffff; font-family: "Trebuchet MS"; margin-bottom: 5px; }

/* all images styling */
img {margin: 0 10px}
img.right { float: right; }
img.left { float: left; }

/* list styling */
ol li, ul li { color: #afaeae; font-size: 0.8em; line-height: 1.4em; }

ul { margin: 5px 0 5px 35px; list-style: url('img/bullet.gif'); }
ol { margin: 5px 0 5px 35px; list-style: decimal; }
a { color: #afaeae; text-decoration: none; }
a:hover { color: #eaa328; text-decoration: underline; }

h4 {text-align: right; color: #afaeae; margin-top: 2ex; margin-right: 5ex; font-size: 0.8em; font-weight: normal; font-style: italic; }

/* END : general text }}} */
/* {{{ gallery */
.foto {
	width: 210px;
	background: #2c2c2c;
	margin: 4px;
	border: solid 1px #000000;
	vertical-align: top;
	padding: 5px;
}

img.gallery {
	margin: 5px;
	border: solid 1px black;
}

.em {
	font-weight: bold;
	color: #ffffff;
}

p.galmenu {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 682px;
	background: #2c2c2c;
	border: solid 1px black;
}

p.gallery {
	font-size: 10px;
	text-align: left;
}
/* }}} */
