@font-face {
  font-family: 'cor';
  src:  url('../fonts/cor.eot?3wvzom');
  src:  url('../fonts/cor.eot?3wvzom#iefix') format('embedded-opentype'),
    url('../fonts/cor.ttf?3wvzom') format('truetype'),
    url('../fonts/cor.woff?3wvzom') format('woff'),
    url('../fonts/cor.svg?3wvzom#cor') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cor-"], [class*=" cor-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cor-gas-1:before {
  content: "\e90c";
}
.cor-gas-2:before {
  content: "\e90d";
}
.cor-medal:before {
  content: "\e90e";
}
.cor-star:before {
  content: "\e90f";
}
.cor-teacher:before {
  content: "\e910";
}
.cor-welder:before {
  content: "\e911";
}
.cor-cube:before {
  content: "\e90b";
}
.cor-gift:before {
  content: "\e905";
}
.cor-people:before {
  content: "\e906";
}
.cor-shield:before {
  content: "\e907";
}
.cor-short-arrow-left:before {
  content: "\e908";
}
.cor-short-arrow-right:before {
  content: "\e909";
}
.cor-water:before {
  content: "\e90a";
}
.cor-cor-logo:before {
  content: "\e901";
}
.cor-birthday:before {
  content: "\e902";
}
.cor-leaf:before {
  content: "\e903";
}
.cor-tree:before {
  content: "\e904";
}
.cor-pic:before {
  content: "\e900";
}
.cor-pizza:before {
  content: "\e701";
}
.cor-scren:before {
  content: "\e702";
}
.cor-smile:before {
  content: "\e703";
}
.cor-idea:before {
  content: "\e704";
}
.cor-line:before {
  content: "\e705";
}
.cor-pen:before {
  content: "\e706";
}
.cor-caffe:before {
  content: "\e707";
}
.cor-bar:before {
  content: "\e700";
}
.cor-close:before {
  content: "\e801";
}
.cor-left-arrow:before {
  content: "\e802";
}
.cor-message:before {
  content: "\e803";
}
.cor-mobile:before {
  content: "\e804";
}
.cor-nav:before {
  content: "\e805";
}
.cor-right-arrow:before {
  content: "\e806";
}

